{% extends "/layout.html" %}

{% block body %}

    <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
                <img id="logo-small" src="{{ url_for('static', filename='img/logo-small.png') }}" height="115" width="74">
            </div>
          </div>
    </div>


    <div class="container middle">
        <!-- Login with existing account -->
        <div class="row-fluid">
            <div class="box-login">

                {% with messages = get_flashed_messages(category_filter=["login"]) %}
                  {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                      <li class="alert">{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}

                <form class="well" method="post" action="/login">
                    <h3>Already have an account?</h3>
                    {{ form.email.label }} {{ form.email(type="email", class="input-block-level") }}
                    {{ form.password.label }} {{ form.password(class="input-block-level") }}<br>
                    <input type="checkbox" name="remember" value="yes" style="margin-bottom: 6px;"> Remember me
                    <br><br>
                    <input class="btn btn-large btn-block btn-purple" type="submit" value="Login">
                </form>
            </div>
        </div>

        <!-- Link to Register Page -->
        <div class="row-fluid">
            <div class="box-login">
                <div class="well">
                    <h3>New to Alice?</h3>
                    <a href="/register" class="btn btn-large btn-block btn-purple">Register</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
