{% extends "/layout.html" %}

{% block body %}

    <div class="navbar navbar-inverse navbar-fixed-top" id="menu-top">
          <div class="navbar-inner">
            <div class="container">
                <img id="logo-small01" src="{{ url_for('static', filename='img/logo-small.png') }}" height="115" width="74">
            </div>
          </div>
    </div>
    <br><br><br>


    <div class="container middle">

        <!-- Mood boxes -->
        
        <div class="box-login">
            <h3 style="font-size:30px;">I'm feeling...</h3>

            <a href="/mood/Zippy">
                <img src="{{ url_for('static', filename='img/box1.png') }}" height="49%" width="49%" >
            </a>
            <a href="/mood/Chill">
                <img src="{{ url_for('static', filename='img/box2.png') }}" height="49%" width="49%" >
            </a>
            <a href="/mood/Hungry">
                <img src="{{ url_for('static', filename='img/box3.png') }}" height="49%" width="49%" >
            </a>
            <a href="/mood/Curious">
                <img src="{{ url_for('static', filename='img/box4.png') }}" height="49%" width="49%" >
            </a>
            <br><br>
            <a href="/experiences/{{ experience.slug }}">
                <img src="{{ url_for('static', filename='img/box-surprise.png') }}" height="100%" width="100%" >
            </a>
        </div>
    </div>
    <br><br>
    <br><br>
    <br><br>

    <!-- Search bar -->
    <div class="navbar navbar-inverse" id="footer">
          <div class="navbar-inner">
            <div class="container">
                <form action="/search" method="post">
                <input class="input-medium" id="tab-search" name="search" type="text" placeholder="Search"></textarea>
                </form>
            </div>
          </div>
          <img id="icon-tab-search" src="{{ url_for('static', filename='img/tab-bar-search.png') }}" height="66" width="81">
    </div>



{% endblock %}
