{% extends "/layout.html" %}

{% block styles %}{% endblock %}

{% block body %}

    <!-- Top bar with menu -->
    <div class="navbar navbar-inverse navbar-fixed-top" id="menu-top">
          <div class="navbar-inner">
            <div class="container">
                <a href="javascript:history.go(-1)"><img id="icons-back" src="{{ url_for('static', filename='img/icon-back.png') }}" height="12%" width="12%"></a>
                <a href="/"><img id="logo-small-menu" src="{{ url_for('static', filename='img/logo-small.png') }}" height="115" width="74"></a>
                <a href="/admin"><img id="icons-menu" src="{{ url_for('static', filename='img/icon-menu.png') }}" height="12%" width="12%"></a>
            </div>
          </div>
    </div>
    <br><br>


 <!-- Showing Experiences from a specific mood -->
    <div class="box-login">
      <!--  Carousel -->
      <!--  consult Bootstrap docs at 
            http://twitter.github.com/bootstrap/javascript.html#carousel -->
      <div id="this-carousel-id" class="carousel slide">
        <div class="carousel-inner box-highlight">

          {% for experience in experiences %}

              <div class="item active">
                <img class="icons-med image-highlight" src="https://s3.amazonaws.com/aliceapp/{{experience.filename}}" height="100%" width="100%"/>

                <div>
                  <a href="/mood/Munch"><div class="small-boxes" id="purple-small-box">
                  <span></span>
                    <img src="{{ url_for('static', filename='img/icon-munch-s.png') }}" height="49%" width="49%" >
                    <h6>Munch</h6>
                  </div></a>

                  <a href="/mood/Chill">
                    <div class="small-boxes" id="text-highlight">
                      <h3>{{ experience.title }}
                        <img class="icons-next" src="{{ url_for('static', filename='img/icon-next.png') }}" height="4%" width="4%">
                      </h3>
                      <p>{{ experience.description }}</p>
                    </div>
                  </a>
                </div>
              </div>

          {% endfor %}   

        </div><!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
      </div><!-- .carousel -->
      <!-- end carousel -->

    </div>


  <div class="container middle">

    <!-- Different interests boxes -->
    <div class="box-login">
      <a href="/interest/Munch"><div class="box-interests">
        <h3><img class="icons-med" src="{{ url_for('static', filename='img/icon-munch-m.png') }}" height="15%" width="15%">
          Munch
          <img class="icons-next" src="{{ url_for('static', filename='img/icon-next.png') }}" height="4%" width="4%">
        </h3>
      </div></a>

      <a href="/interest/Special_Eats"><div class="box-interests">
        <h3><img class="icons-med" src="{{ url_for('static', filename='img/icon-special-m.png') }}" height="15%" width="15%">
          Special Eats
           <img class="icons-next" src="{{ url_for('static', filename='img/icon-next.png') }}" height="4%" width="4%">
        </h3>
      </div></a>

      <a href="/interest/Unusual_Edibles"><div class="box-interests">
        <h3><img class="icons-med" src="{{ url_for('static', filename='img/icon-unusual-m.png') }}" height="15%" width="15%">
          Unusual Edibles
           <img class="icons-next" src="{{ url_for('static', filename='img/icon-next.png') }}" height="4%" width="4%">
        </h3>
      </div></a>
    </div>

  </div>

    <br><br><br><br>

    <!-- Tab bar in the footer -->
    <div class="navbar navbar-inverse" id="footer">
          <a href="/mood/Zippy"><div class="tab-boxes">
            <span></span>
            <img src="{{ url_for('static', filename='img/icon-zippy-tab.png') }}" height="49%" width="49%" class="icons-tabbar">
          </div></a>

          <a href="/mood/Chill"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-chill-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>

          <a href="/mood/Hungry"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-hungry-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>
          
          <a href="/mood/Curious"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-curious-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>
    </div>
  

{% endblock %}


{% block scripts %}{% endblock %}