{% extends "/layout.html" %}

{% block styles %}{% endblock %}

{% block body %}

    <!-- Top bar with menu -->
    <div class="navbar navbar-inverse navbar-fixed-top" id="menu-top">
          <div class="navbar-inner">
            <div class="container">
                <a href="javascript:history.go(-1)"><img id="icons-back" src="{{ url_for('static', filename='img/icon-back.png') }}" height="12%" width="12%"></a>
                <a href="/"><img id="logo-small-menu" src="{{ url_for('static', filename='img/logo-small.png') }}" height="115" width="74"></a>
                <a href="/admin"><img id="icons-menu" src="{{ url_for('static', filename='img/icon-menu.png') }}" height="12%" width="12%"></a>
            </div>
          </div>
    </div>
    <br><br><br>


    <!-- Showing Experiences from a specific category -->
    <div class="box-login">

      <!-- Shows the title of the category with their icon  -->
      <h2><img class="icons-med" src="../static/img/{{ current_interest.get('slug') }}.png" height="13%" width="13%"> {{ current_interest.get('name')|title }}</h2>

      {% for experience in experiences %}

      <div class="box-list">
        <img class="icons-med image-list" src="https://s3.amazonaws.com/aliceapp/{{experience.filename}}" height="60%" width="60%">

        <div class="list-text">
          <a href="/experiences/{{ experience.slug }}"><h3>{{ experience.title }}</h3>
            <img class="icons-next" src="{{ url_for('static', filename='img/icon-next.png') }}" height="4%" width="4%"></a>
            <p>If you think you know everything about the city take the scavenger hunt challenge! Stroll around gathering clues, solving puzzles, and spend the day discovering new things. Choose the theme that you are most curious about and invite your team.</p>
        </div>
      </div>
    {% endfor %}  
    </div>

    <div id="spacing">..</div>

    <!-- Tab bar in the footer -->
    <div class="navbar navbar-inverse" id="footer">
          <a href="/mood/Zippy"><div class="tab-boxes">
            <span></span>
            <img src="{{ url_for('static', filename='img/icon-zippy-tab.png') }}" height="49%" width="49%" class="icons-tabbar">
          </div></a>

          <a href="/mood/Chill"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-chill-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>

          <a href="/mood/Hungry"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-hungry-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>
          
          <a href="/mood/Curious"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-curious-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>
    </div> 

{% endblock %}


{% block scripts %}{% endblock %}