{% extends "/layout.html" %}
{% from "_form_helpers.html" import render_error, render_textarea %}

{% block styles %}{% endblock %}

{% block body %}

<!-- Top bar with menu -->
    <div class="navbar navbar-inverse navbar-fixed-top" id="menu-top">
          <div class="navbar-inner">
            <div class="container">
                <a href="javascript:history.go(-1)"><img id="icons-back" src="{{ url_for('static', filename='img/icon-back.png') }}" height="12%" width="12%"></a>
                <a href="/"><img id="logo-small-menu" src="{{ url_for('static', filename='img/logo-small.png') }}" height="115" width="74"></a>
                <a href="/admin"><img id="icons-menu" src="{{ url_for('static', filename='img/icon-menu.png') }}" height="12%" width="12%"></a>
            </div>
          </div>
    </div>
    <br><br><br><br>

    <!-- Showing Experience with details -->
    <div class="box-login">
        <div class="box-experience">
          <img class="icons-med image-highlight" src="https://s3.amazonaws.com/aliceapp/{{experience.filename}}" height="60%" width="60%">

          <div class="small-boxes" id="text-experience">
            <h3>{{ experience.title }}
            <a href="/chooselist/{{ experience.id }}"><img class="icons-next" src="{{ url_for('static', filename='img/bookmark.png') }}" height="50%" width="50%"></a></h3>
            <h6>{% for i in experience.interest %}{{ i|replace("_"," ")}} {% endfor %} // {% for p in experience.period %}{{ p|replace("_"," ")}} {% endfor %}</h6>
            <hr>
            <p>{{ experience.description }}</p>
          </div>
        </div>
    </div>

	<!-- Display locations -->


    <!-- Showing Locations from a specific experience -->
    <div class="box-login">

      {% for location in experience.location_refs %}

      <div class="box-location">
        <img class="icons-med image-location" src="https://s3.amazonaws.com/aliceapp/{{location.filename}}" height="60%" width="60%">

        <div class="location-text">
          <a href="/location/{{ location.slug }}"><h3>{{ location.name }}</h3>
            <img class="icons-next" src="{{ url_for('static', filename='img/icon-next.png') }}" height="4%" width="4%"></a>
            <p>{{ location.description }}</p>
            <hr>
            <h6>{{ location.address }} - {{ location.neighborhood }}</h6>
        </div>
      </div>
    {% endfor %}  
    </div>

    <div id="spacing"></div>

	<!-- Tab bar in the footer -->
    <div class="navbar navbar-inverse" id="footer">
          <a href="/mood/Zippy"><div class="tab-boxes">
            <span></span>
            <img src="{{ url_for('static', filename='img/icon-zippy-tab.png') }}" height="49%" width="49%" class="icons-tabbar">
          </div></a>

          <a href="/mood/Chill"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-chill-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>

          <a href="/mood/Hungry"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-hungry-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>
          
          <a href="/mood/Curious"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-curious-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>
    </div> 

{% endblock %}


{% block scripts %}{% endblock %}