{% extends "/layout.html" %}
{% from "_form_helpers.html" import render_error, render_textarea %}

{% block body %}

<!-- Top bar with menu -->
    <div class="navbar navbar-inverse navbar-fixed-top" id="menu-top">
          <div class="navbar-inner">
            <div class="container">
                <a href="javascript:history.go(-1)"><img id="icons-back" src="{{ url_for('static', filename='img/icon-back.png') }}" height="12%" width="12%"></a>
                <a href="/"><img id="logo-small-menu" src="{{ url_for('static', filename='img/logo-small.png') }}" height="115" width="74"></a>
                <a href="/admin"><img id="icons-menu" src="{{ url_for('static', filename='img/icon-menu.png') }}" height="12%" width="12%"></a>
            </div>
          </div>
    </div>
    <br><br><br><br>


    <div class="container middle">
        <!-- Login with existing account -->
            <div class="box-login" id="create-list">                        

                <form class="well" method="POST" action="" enctype="multipart/form-data">

                    <!-- Displays the lists that this user created --> 
                    <h3 class="create">Create a new list</h3>
                    <br>

				    {% if form.errors %}
						<ul class="errors">
							{% for field_name, field_errors in form.errors|dictsort if field_errors %}
								{% for error in field_errors %}
									<li class="alert alert-error">
										{{ form[field_name].label.text }} - {{ error }}
									</li>
								{% endfor %}
							{% endfor %}
						</ul>
					{% endif %}

					<div class="small-boxes small-create">
                    <h4>Name your list (Be creative!)</h4>
					{{ form.listName(id="input-create") }}
					<br>
					</div>

					<div class="small-boxes small-create" id="small-right">
					<!-- <input class="btn" type="file" name="photoupload" id="photoupload"> -->
					<input type="file" name="photoupload" size="24" id="photoupload" onchange="getElementById('FileField').value = getElementById('BrowserHidden').value;" />
    				<div id="BrowserVisible">
    					<div id="addpicture"><h4>Add a picture</h4></div>
    					<img id="FileField" src="{{ url_for('static', filename='img/upload.png') }}"/>
    				</div>
					</div>

					<div class="small-boxes small-create" id="box-descrip">
					<h4>Add a description</h4>
					{{ render_textarea(form.listDescription, cols="50", rows="3") }} {# render_textarea inside _form_helpers.html #}
					<br>
					</div>

					<br><br>
					<input class="btn btn-large btn-block btn-purple" type="submit" value="Create List">
				</form>
            </div>
    </div>

<!-- Display Experience -->
<div class="container middle">
		<div class="box-login">
			<hr>
			<h2><img class="icons-med spiral" src="../static/img/spiral.png" height="13%" width="13%"> Recently created lists:</h2>

	      <div class="box-login">

		      {% for l in listsCreated %}

		      <div class="box-location">
		        <img class="icons-med image-location" src="https://s3.amazonaws.com/aliceapp/{{l.filename}}" height="60%" width="60%">

		        <div class="location-text">
		          <a href="/lists/{{ l.slug }}"><h3>{{ l.listName }}</h3>
		            <img class="icons-next" src="{{ url_for('static', filename='img/icon-next.png') }}" height="4%" width="4%"></a>
		            <p>{{l.listDescription}}</p>
		            <hr>
		            <a href="/lists/{{ l.user.username }}"><h6>by: {{ l.user.username }}</h6></a>
		        </div>
		      </div>
		    {% endfor %}  
		    </div>
		</div>
</div><!-- row -->
	
<!-- Tab bar in the footer -->
    <div class="navbar navbar-inverse" id="footer">
          <a href="/mood/Zippy"><div class="tab-boxes">
            <span></span>
            <img src="{{ url_for('static', filename='img/icon-zippy-tab.png') }}" height="49%" width="49%" class="icons-tabbar" >
          </div></a>

          <a href="/mood/Chill"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-chill-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>

          <a href="/mood/Hungry"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-hungry-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>
          
          <a href="/mood/Curious"><div class="tab-boxes">
            <img src="{{ url_for('static', filename='img/icon-curious-tab.png') }}" height="49%" width="49%" style="margin-top:4px;" class="icons-tabbar">
          </div></a>
    </div> 

{% endblock %}


{% block styles %}
<style>
img {
	width:320px;
}
</style>
{% endblock %}
{% block scripts %}{% endblock %}