{% extends "layout_alice.html" %}

{% block styles %}{% endblock %}

{% block body %}

<!-- Search Bar -->
    <div class="row-fluid">
        <div class="span12 dois" style="position: static; top: 0px; margin-top: 43px; ">
            <div class="content-container">
                <form class="navbar-search" action="/search" method="post"><img src="{{ url_for('static', filename='img/search-icon.png') }}" alt="" height="40px" width="40px">
                  <input type="text" class="search-query" id="search" name="search" placeholder="Search for experiences">
                  </textarea>
                </form>
            </div>
        </div>
    </div>

    <!-- Navigation Area -->
    <div class="row-fluid">
        <div class="span12 tres">
                <ul class="nav nav-pills">
                  <li class="active"><a href="/experiences"><span class="icon_nav"></span>Everything</a></li>
                  <li class=""><a href="/interest/Brunch_Place"><span class="icon_nav"></span>Brunch Place</a></li>
                  <li class=""><a href="/interest/Relax"><span class="icon_nav"></span>Relax</a></li>
                  <li class=""><a href="/interest/Date_Spot"><span class="icon_nav"></span>Date Spot</a></li>
                </ul>  
        </div>
    </div>

<!-- Welcome back message and logged in alert -->
<div class="container middle">
    <div class="row-fluid">
    	<h1>Welcome back, {{ current_user.username }}!</h1>
		{# display any Flash/Session messages #}
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				  <p><span class="alert alert-success">{{ message }}</span></p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{# end of Flash/Sesssion messages #}
    	<br>

			
			<!-- Displays the lists that this user created -->            
            <ul class="thumbnails">
              {% for list in allLists %}
               <li class="span3">
                    <div class="thumbnail">
                      <div class="caption">
                        <img src="https://s3.amazonaws.com/aliceapp/{{list.filename}}" class="img-rounded"></a>
          
                          <h3>{{ list.listName }}</h3>
                          <p><em>[ {% for l in list.city %}{{ l|replace("_"," ")}}{% endfor %} by {{ list.user.username }} ]</em></p>
                          <p><em>"{{ list.listDescription }}"</em></p>
                          <a href="/lists/{{ list.slug }}" class="btn btn-warning">View</a>
                      </div>
                    </div>
                </li>  
              {% endfor %}
            </ul>


        	<!-- Displays all experiences -->     
	    	<br>
			<hr>
			<div class="row-fluid">
				<br>
				<h1>All experiences:</h1>	
				<br>
				<ul class="thumbnails">  
					{% for experience in experiences %}
		          	<li class="span3">
		              <div class="thumbnail">
		                <div class="caption">
		                  <img src="https://s3.amazonaws.com/aliceapp/{{experience.filename}}" class="img-rounded"></a>
		    
		                    <h3>{{ experience.title }}</h3>
		                    <p><em>[ {% for i in experience.interest %}{{ i|replace("_"," ")}} {% endfor %}]</em></p>
		                    <p><em>"{{ experience.description }}"</em></p>
		                    <a href="/experiences/{{ experience.slug }}" class="btn btn-warning">Spy</a>
		                </div>
		              </div>
		          	</li>  
					{% endfor %}
		        </ul>
		    </div>
	</div>
</div>

{% endblock %}