{% extends "/layout_alice.html" %}
{% from "_form_helpers.html" import render_error, render_textarea %}

{% block styles %}{% endblock %}

{% block body %}

<!-- Display Experience -->
<div class="container middle">
    <div class="row-fluid">
		<div class="span6">
			<h2>{{ experience.title }}</h2>
			<img src="https://s3.amazonaws.com/aliceapp/{{experience.filename}}" class="img-rounded"></a>
			<p></p>
			<br>
			<p><em>[{% for p in experience.period %}{{ p|replace("_"," ")}} {% endfor %}]</em></p>
			<p><em>[{% for i in experience.interest %}{{ i|replace("_"," ")}} {% endfor %}]</em></p>
			<hr>
			<p>{{ experience.description }}</p>

			<br>
			<hr>
			<p><small>added: {{ experience.timestamp.strftime("%a %m/%d %I:%M%p ") }}</small></p>
			<p><small>id: {{ experience.id }}</small></p>
			<hr>
		</div>	



	<!-- Display locations -->

		<div class="span4 offset1">
			
			{% for location in experience.location_refs %}
			<div class="location">
				<span class="location"><h2>{{ location.name }}</h2></span>
				<p>Address: {{ location.address }}, {{ location.neighborhood }}</p>
				<p>City: {{ location.city }}</p>
				<p>Price: {{ location.price }}</p>
				<p>Site: {{ location.website }}</p>
				<p>Phone: {{ location.phone }}</p>
				<p><small>{{ location.timestamp.strftime("%a %m/%d %I:%M%p ") }}</small></p>
			</div>
			<hr>
			{% endfor %}
		</div>
	</div>


	<!-- Submit new locations for that particular experience -->
	<div class="row-fluid">
		<div class="span5">
			<form method="POST" action="/experiences/{{ experience.id }}/location">

				<p>
					<label for="name"><h3>Location Name:</h3></label>
					<input type="text" id="name" name="name">
				</p>

	            <p>
					<label for="address"><h3>Address:</h3></label>
					<textarea cols="50" rows="3" id="address" name="address"></textarea>
	            </p>

	            <p>
					<label for="neighborhood"><h3>Neighborhood:</h3></label>
					<input type="text" id="neighborhood" name="neighborhood">
				</p>

                <label for="city"><h3>City:</h3></label>
					  <select id="city" name="city">
					    <option value="New York">New York</option>
					    <option value="San Francisco">San Francisco</option>
					  </select>       
                <br>

                <label for="price"><h3>Price:</h3></label>
					  <select id="price" name="price">
					    <option value="$">$</option>
					    <option value="$$">$$</option>
					    <option value="$$$">$$$</option>
					    <option value="$$$$">$$$$</option>
					    <option value="$$$$$">$$$$$</option>
					  </select>       
                <br>

				<p>
					<label for="website"><h3>Website:</h3></label>
					<input type="text" id="website" name="website">
				</p>

				<p>
					<label for="phone"><h3>Phone:</h3></label>
					<input type="text" id="phone" name="phone">
				</p>
				
				<label>
				<button type="submit" class="btn btn-warning">Submit Location</button>
				</label>
			</form>
		</div>
	</div>

</div>

{% endblock %}


{% block scripts %}{% endblock %}