<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Alice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Alice database">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">

        <!-- Get Font from Google http://www.google.com/webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>

        <!-- Icons and Favicons -->
        <link rel="shortcut icon" href="ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

        {% block styles %}{% endblock %}
        
  </head>

  <!-- Begin of the body -->
  <body>

    <!-- Logo - Header -->
    <div class="row-fluid">
      <div class="top-logo">
        <div class="hero-one">
          <a href="/"><img src="{{ url_for('static', filename='img/logo_alice02.png') }}" class="brand" alt=""></a>
         </div>
      </div>
    </div>

    <!-- Naviation Menu -->
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <div class="nav-collapse collapse">
            <ul class="nav">

              {% if current_user.is_anonymous() %}

              <li class="active"><a href="/">Home</a></li>
              <li><a href="/lists">Lists</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              
              {% else %}

              <li class="active"><a href="/experiences">Experiences</a></li>
              <li><a href="/submit">Add new experience</a></li>
              <li><a href="/lists">Lists</a></li>
              <li><a href="/create">Create new list</a></li>
              <li><a href="/admin">Profile</a></li>
              <li><a href="/logout">Logout {{ current_user.username}}</a></li>
              
              {% endif %}

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

   
   {% block body %}{% endblock %}




      <!-- Categories -->
      
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit categories">
            <h1>Find by interest</h1>
            <hr>
            <div class="span3">
              <ul class="unstyled">
                <li><h2><a href="/interest/Brunch_Place">Brunch Place</a></h2></li>
                <li><h2><a href="/interest/Fun_with_Friends">Fun with Friends</a></h2></li>
                <li><h2><a href="/interest/Date_Spots">Date Spots</a></h2></li>
                <li><h2><a href="/interest/Special_Eats">Special Eats</a></h2></li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled">
                <li><h2><a href="/interest/City_Secrets">City Secrets</a></h2></li>
                <li><h2><a href="/interest/Ready_for_Adventure">Ready for Adventure</a></h2></li>
                <li><h2><a href="/interest/I_need_coffee">I need coffee!</a></h2></li>
                <li><h2><a href="/interest/Lets_party">Let's party</a></h2></li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled">
                <li><h2><a href="/interest/Exploring_NYC">Exploring NYC</a></h2></li>
                <li><h2><a href="/interest/Cool_&_Cheap">Cool & Cheap</a></h2></li>
                <li><h2><a href="/interest/Lifetime_experience">Lifetime experience</a></h2></li>
                <li><h2><a href="/interest/Unusual_Edibles">Unusual Edibles</a></h2></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <!-- Footer -->
    <footer>
      <div class="row-fluid">
          <div class="span12 quatro">
                  </br></br>
                  <p style="color:#B2B844;">&copy; Alice || ITP 2013</p>
              </div>
          </div>
      </div>
    </footer>

    


    <!-- End of the HTML Structure -->
    


    <!-- Javascript files -->

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-transition.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tab.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-popover.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-button.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"></script>

    {% block scripts %}{% endblock %}


  </body>
</html>
