{% extends "/layout_alice.html" %}
{% from "_form_helpers.html" import render_error, render_textarea %}


{% block body %}

<!-- Display List -->
<div class="container middle">
    <div class="row-fluid">
		<div class="span6">
			<!-- Display detailed list -->
			<h2>{{ listsCreated.listName }}</h2>
			<img src="https://s3.amazonaws.com/aliceapp/{{listsCreated.filename}}" class="img-rounded"></a>
			<br><br>
			<p>{{ listsCreated.listDescription }}</p>
			<hr>
			<p>[ Location: {% for c in listsCreated.city %}{{ c|replace("_"," ")}}{% endfor %} | Created by: {{ listsCreated.user.username }} | Date: {{ listsCreated.timestamp.strftime("%m/%d/%y")}} ]</p>
		</div>	

		  <!-- Display experiences -->
          <div class="span4 offset1">
            {% for exp in listsCreated.experiences %}
            <br>
              <img src="https://s3.amazonaws.com/aliceapp/{{exp.filename}}" class="img-rounded"></a>
              <h3>{{ exp.title }}</h3>
              <p><em>[ {% for i in exp.interest %}{{ i|replace("_"," ")}} {% endfor %}]</em></p>
              <p><em>"{{ exp.description }}"</em></p>
	            <p>
	              <a href="/experiences/{{ exp.slug }}" class="btn btn-warning">View</a>
	            </p>
	          <hr>

			{% endfor %}
          </div>

        </div>
	</div>

</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}