{% extends "/layout_alice.html" %}

{% block styles %}{% endblock %}

{% block body %}

<!-- Invitation to action -->
    <div class="row-fluid">
      <div class="span12">
        <div class="hero-unit">
          <h1>Dive into a new nyc!</h1>
          <p>'Alice' is a mobile social network that uses geolocation to give handpicked suggestions of unique activities to encourage users to explore the city, transforming going out into a memorable experience.</p>
          <p><a class="btn btn-warning btn-large" href="/submit">Add an experience &raquo;</a></p>
        </div>
      </div>
    </div>


    <!-- Search Bar -->
    <div class="row-fluid">
        <div class="span12 dois" style="position: static; top: 0px; ">
            <div class="content-container">
                <form class="navbar-search" action="/search" method="post"><img src="{{ url_for('static', filename='img/search-icon.png') }}" alt="" height="40px" width="40px">
                  <input type="text" class="search-query" id="search" name="search" placeholder="Search for experiences">
                  </textarea>
                </form>
            </div>
        </div>
    </div>


    <!-- Navigation Area -->
    <div class="row-fluid">
        <div class="span12 tres">
                <ul class="nav nav-pills">
                  <li class="active"><a href="/experiences"><span class="icon_nav"></span>Everything</a></li>
                  <li class=""><a href="/interest/Brunch_Place"><span class="icon_nav"></span>Brunch Place</a></li>
                  <li class=""><a href="/interest/Relax"><span class="icon_nav"></span>Relax</a></li>
                  <li class=""><a href="/interest/Date_Spot"><span class="icon_nav"></span>Date Spot</a></li>
                </ul>  
        </div>
    </div>


      <!-- Thumbnails -->
    <div class="container middle">
      	<div class="row-fluid">
            <ul class="thumbnails">
              
					{% for experience in experiences %}
          <li class="span3">
              <div class="thumbnail">
                <div class="caption">
                  <img src="https://s3.amazonaws.com/aliceapp/{{experience.filename}}" class="img-rounded"></a>

    
                    <h3>{{ experience.title }}</h3>
                    <p><em>[ {% for i in experience.interest %}{{ i|replace("_"," ")}} {% endfor %}]</em></p>
                    <p><em>"{{ experience.description }}"</em></p>
                    <p>
                      <a href="/chooselist/{{ experience.id }}" class="btn btn-success">Add to List</a>
                      <a href="/experiences/{{ experience.slug }}" class="btn btn-warning">View</a>
                    </p>
                </div>
              </div>
          </li>  
					{% endfor %}

            </ul>
        </div>
    </div>

          <!-- Pagination -->
      <div class="container">
          <div class="pagination pagination-centered">
            <ul>
              <li class="disabled"><a href="#">Prev</a></li>
              <li class="disabled"><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li class="active"><a href="#">3</a></li>
              <li class="active"><a href="#">4</a></li>
              <li class="active"><a href="#">5</a></li>
              <li class="active"><a href="#">Next</a></li>
            </ul>
          </div>
      </div>    

{% endblock %}


{% block scripts %}{% endblock %}