{% extends "/layout_alice.html" %}


{% block body %}
<!-- Login with existing account -->
<div class="container middle">
    <div class="row-fluid">
        <div class="span5">
        <h1>Login</h1>

        {% with messages = get_flashed_messages(category_filter=["login"]) %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li class="alert">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <form class="well" method="post" action="/login">
            {{ form.email.label }} {{ form.email(type="email") }}
            {{ form.password.label }} {{ form.password }}<br>
            <input type="checkbox" name="remember" value="yes"> Remember me
            <br><br>
            <input class="btn btn-warning " type="submit" value="Login">
        </form>
    </div>
  </div>
</div>
{% endblock %}
